
    <link rel="stylesheet" type="text/css" href="/css/form.css" >
</head>
<body>
    <%- include('../includes/head.ejs') %>
    <h2>FILL FORM FOR EMPLOYEE OF THE MONTH</h2>
    <main>
        <form class="info-form" action="/admin/<% if(editing) { %>edit-info<% } else {%>add-info<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label><br> 
                <input type="text" name="name" id="name" value="<% if(editing) { %><%= info.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label><br> 
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing) { %><%= info.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label><br> 
                <textarea name="description" id="description" rows="5"><% if(editing) { %><%= info.description %><% } %></textarea>
            </div>

            <% if(editing) { %>
                <input type="hidden" value="<%= info.id %>" name="infoId">
            <% } %>   

            <button class="btn" type="submit"><% if(editing) { %>Update Info<% } else { %>Add Info<% } %></button>
            <input type="button" onclick="location.href='/';" value="Home page" />
        </form>
    </main>
<%- include('../includes/end.ejs') %>